# ─── API ─────────────────────────────────────────────────────────────────────────
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1

# ─── CLOUDINARY ──────────────────────────────────────────────────────────────────
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name

# ─── MAPS ────────────────────────────────────────────────────────────────────────
NEXT_PUBLIC_MAPBOX_TOKEN=your_token

# ─── NEXT AUTH ────────────────────────────────────────────────────────────────────
NEXTAUTH_SECRET=your_nextauth_secret_min_32_chars
NEXTAUTH_URL=http://localhost:3000

# ─── APP ─────────────────────────────────────────────────────────────────────────
NEXT_PUBLIC_APP_NAME=ChamalCom
NEXT_PUBLIC_APP_URL=http://localhost:3000
